include ./gallery-source/gallery-top.html
img(src='img/gallery/badduck/frontduck.jpg')
img(src='img/gallery/badduck/duck1.jpg')
img(src='img/gallery/badduck/duck2.jpg')
img(src='img/gallery/badduck/duck3.jpg')
img(src='img/gallery/badduck/duck4.jpg')
include ./gallery-source/gallery-middle.html
h1 Lamborghini</br>Veneno
p Итальянский суперкар, выпущенный ограниченной серией в 2013 году компанией Lamborghini. Предсерийная версия (№ 0, после окончания автосалона она была отправлена в музей Lamborghini) была показана на Женевском автосалоне в марте 2013 года в честь 50-летия марки
include ./gallery-source/gallery-bottom.html