@charset "UTF-8";
@import url(http://webfonts.ru/import/intro.css);
@import url(http://webfonts.ru/import/lato.css);
html, body {
  color: white;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0; }

* {
  z-index: 0; }

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-image: url(../img/interior.JPG);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .background .background__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }

p {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica Neue, sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0 0 7px 0;
  font-family: "Lato", Helvetica Neue, sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 7px; }
  h1:after {
    content: "\a—";
    white-space: pre;
    font-weight: 100; }

h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 4px; }

p {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px; }

a {
  text-decoration: none;
  color: #ffffff; }
  a:visited {
    color: #ffffff; }

section {
  width: 100vw; }

.navbar__menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: "Lato", Helvetica Neue, sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }
  .navbar__menu a {
    text-decoration: none; }
    .navbar__menu a:visited {
      color: #FFFFFF; }
  .navbar__menu .navbar__menu__group {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .navbar__menu .navbar__menu__group--left {
    width: 33.333%; }
    @media screen and (max-width: 800px) {
      .navbar__menu .navbar__menu__group--left {
        display: none; } }
  .navbar__menu .navbar__menu__group--center {
    width: 16.6665%; }
    @media screen and (max-width: 800px) {
      .navbar__menu .navbar__menu__group--center {
        display: none; } }
  .navbar__menu .navbar__menu__group--right {
    width: 16.6665%;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
    .navbar__menu .navbar__menu__group--right a {
      text-decoration: none;
      color: white; }
  .navbar__menu .navbar__menu__item {
    padding: 25px;
    cursor: pointer;
    text-align: center; }
    .navbar__menu .navbar__menu__item:hover {
      background-color: #ffed2c;
      color: black; }
      .navbar__menu .navbar__menu__item:hover a {
        color: black; }
  .navbar__menu .navbar__menu__item--stroked {
    padding: 20px;
    border: 5px solid #ffed2c; }

.start-screen {
  width: 100%;
  height: 100%; }
  .start-screen .start-screen__social-buttons {
    position: absolute;
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    top: 50%;
    left: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    align-content: stretch; }
    @media screen and (max-width: 800px) {
      .start-screen .start-screen__social-buttons {
        display: none; } }
    .start-screen .start-screen__social-buttons a .start-screen__social-button__item {
      cursor: pointer;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      width: 66px;
      height: 66px;
      border-left: 5px solid white;
      border-right: 5px solid white;
      border-bottom: 5px solid white;
      text-align: center; }
      .start-screen .start-screen__social-buttons a .start-screen__social-button__item:hover {
        background-color: rgba(0, 0, 0, 0.3); }
    .start-screen .start-screen__social-buttons a:first-child .start-screen__social-button__item {
      border-top: 5px solid white; }
  .start-screen .start-screen__title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 800px; }
    .start-screen .start-screen__title .start-screen__title__logo img {
      width: 25%;
      margin-bottom: 5px; }
    .start-screen .start-screen__title .start-screen__title__brand-name {
      font-family: "Intro", Helvetica Neue, sans-serif;
      text-transform: uppercase;
      font-size: 6rem;
      max-width: 800px; }
    .start-screen .start-screen__title .start-screen__title__description {
      font-family: "Lato", Helvetica Neue, sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 10px;
      line-height: 2rem; }
    .start-screen .start-screen__title .start-screen__title__sweeties {
      margin-top: 60px;
      font-family: "Lato", Helvetica Neue, sans-serif;
      font-weight: 300;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      .start-screen .start-screen__title .start-screen__title__sweeties .start-screen__title__sweeties--left, .start-screen .start-screen__title .start-screen__title__sweeties .start-screen__title__sweeties--right {
        padding-left: 20px;
        padding-right: 20px; }
  .start-screen .start-screen__bouncing-arrow {
    font-size: 2em;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%); }
    @media screen and (max-width: 800px) {
      .start-screen .start-screen__bouncing-arrow {
        display: none; } }

.quality {
  background-color: transparent;
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .quality .quality__text {
    max-width: 800px; }
    .quality .quality__text p {
      padding-left: 20px;
      padding-right: 20px;
      line-height: 150%; }

.gallery {
  background-color: transparent;
  padding-bottom: 80px; }
  .gallery .gallery__item {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
  .gallery .gallery__content__left-column {
    float: left;
    padding-bottom: 40px; }
    .gallery .gallery__content__left-column .gallery__content__first-row {
      width: 50vw;
      background-color: black; }
      .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__left__item {
        outline: solid #000000 2px;
        outline-offset: -2px;
        width: 25vw;
        height: 25vw;
        float: left;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
        .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__left__item .gallery-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000000;
          opacity: 0.7; }
        .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__left__item .gallery-item-title {
          width: 100%;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: "Lato", Helvetica Neue, sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          letter-spacing: 2px;
          position: absolute;
          left: 50%;
          bottom: 0;
          text-align: center;
          background-color: #000;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          color: white;
          display: none; }
        .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__left__item:hover {
          cursor: pointer;
          -webkit-filter: grayscale(1%);
          filter: grayscale(1%); }
          .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__left__item:hover .gallery-overlay {
            opacity: 0.2;
            transition: 0.4s; }
          .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__left__item:hover .gallery-item-title {
            display: block;
            transition: 0.4s; }
      .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__right__item {
        outline: solid #000000 2px;
        outline-offset: -2px;
        width: 25vw;
        height: 25vw;
        float: right;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
        .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__right__item .gallery-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000000;
          opacity: 0.7; }
        .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__right__item .gallery-item-title {
          width: 100%;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: "Lato", Helvetica Neue, sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          letter-spacing: 2px;
          position: absolute;
          left: 50%;
          bottom: 0;
          text-align: center;
          background-color: #000;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          color: white;
          display: none; }
        .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__right__item:hover {
          cursor: pointer;
          -webkit-filter: grayscale(1%);
          filter: grayscale(1%); }
          .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__right__item:hover .gallery-overlay {
            opacity: 0.2;
            transition: 0.4s; }
          .gallery .gallery__content__left-column .gallery__content__first-row .gallery__content__first-row__right__item:hover .gallery-item-title {
            display: block;
            transition: 0.4s; }
    .gallery .gallery__content__left-column .gallery__content__second-row {
      width: 50vw;
      background-color: black; }
      .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__left__item {
        outline: solid #000000 2px;
        outline-offset: -2px;
        float: left;
        width: 25vw;
        height: 25vw;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
        .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__left__item .gallery-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000000;
          opacity: 0.7; }
        .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__left__item .gallery-item-title {
          width: 100%;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: "Lato", Helvetica Neue, sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          letter-spacing: 2px;
          position: absolute;
          left: 50%;
          bottom: 0;
          text-align: center;
          background-color: #000;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          color: white;
          display: none; }
        .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__left__item:hover {
          cursor: pointer;
          -webkit-filter: grayscale(1%);
          filter: grayscale(1%); }
          .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__left__item:hover .gallery-overlay {
            opacity: 0.2;
            transition: 0.4s; }
          .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__left__item:hover .gallery-item-title {
            display: block;
            transition: 0.4s; }
      .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__right__item {
        outline: solid #000000 2px;
        outline-offset: -2px;
        float: right;
        width: 25vw;
        height: 25vw;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
        .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__right__item .gallery-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000000;
          opacity: 0.7; }
        .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__right__item .gallery-item-title {
          width: 100%;
          padding-bottom: 10px;
          padding-top: 10px;
          font-family: "Lato", Helvetica Neue, sans-serif;
          font-weight: 300;
          font-size: 1.5rem;
          letter-spacing: 2px;
          position: absolute;
          left: 50%;
          bottom: 0;
          text-align: center;
          background-color: #000;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          color: white;
          display: none; }
        .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__right__item:hover {
          cursor: pointer;
          -webkit-filter: grayscale(1%);
          filter: grayscale(1%); }
          .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__right__item:hover .gallery-overlay {
            opacity: 0.2;
            transition: 0.4s; }
          .gallery .gallery__content__left-column .gallery__content__second-row .gallery__content__second-row__right__item:hover .gallery-item-title {
            display: block;
            transition: 0.4s; }
  .gallery .gallery__content__right-column {
    float: right;
    padding-bottom: 40px; }
    .gallery .gallery__content__right-column .gallery__content__big-photo {
      outline: solid #000000 2px;
      outline-offset: -2px;
      width: 50vw;
      height: 50vw;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
      .gallery .gallery__content__right-column .gallery__content__big-photo .gallery-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.7; }
      .gallery .gallery__content__right-column .gallery__content__big-photo .gallery-item-title {
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: "Lato", Helvetica Neue, sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        letter-spacing: 2px;
        position: absolute;
        left: 50%;
        bottom: 0;
        text-align: center;
        background-color: #000;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        color: white;
        display: none; }
      .gallery .gallery__content__right-column .gallery__content__big-photo:hover {
        cursor: pointer;
        -webkit-filter: grayscale(1%);
        filter: grayscale(1%); }
        .gallery .gallery__content__right-column .gallery__content__big-photo:hover .gallery-overlay {
          opacity: 0.2;
          transition: 0.4s; }
        .gallery .gallery__content__right-column .gallery__content__big-photo:hover .gallery-item-title {
          display: block;
          transition: 0.4s; }
  .gallery:hover {
    -webkit-filter: grayscale(1%);
    filter: grayscale(1%); }
  .gallery h1 {
    padding-bottom: 12px; }
  .gallery .gallery__footer-text {
    font-family: "Lato", Helvetica Neue, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center; }
    .gallery .gallery__footer-text .gallery__footer-social {
      border-bottom: solid 1px; }

.contact-us {
  background-color: black;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contact-us h1 {
    padding-bottom: 15px; }
  .contact-us .contact-us__title {
    width: 100%;
    max-width: 800px; }
  .contact-us .contact-us__map {
    width: 100%;
    height: 50vh; }
    .contact-us .contact-us__map #map {
      width: 100%;
      height: 100%; }
  .contact-us .contact-us__text {
    width: 100%;
    max-width: 800px;
    padding-top: 25px;
    padding-bottom: 25px; }
    .contact-us .contact-us__text h2 {
      padding-top: 25px; }
      .contact-us .contact-us__text h2:nth-of-type(1) {
        padding-top: 0; }
    .contact-us .contact-us__text p {
      padding-left: 20px;
      padding-right: 20px; }

.footer {
  background-color: #000;
  font-family: "Lato", Helvetica Neue, sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.white-popup-block {
  background-color: #fff;
  color: #000; }

.mfp-content {
  max-width: 500px;
  width: 50%; }

form h1 {
  padding-top: 44px; }
form ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  form ul li {
    border-bottom: 1px solid #dddddd; }
    form ul li input {
      border-radius: 0;
      border: none;
      margin: 0;
      padding: 0;
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 1.2em;
      font-family: "Lato", Helvetica Neue, sans-serif;
      font-weight: 300; }
    form ul li:last-child {
      border-bottom: none; }
form .button {
  width: 100%;
  background-color: yellow;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-family: "Lato", Helvetica Neue, sans-serif;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 15px; }
  form .button:hover {
    cursor: pointer; }

/*# sourceMappingURL=index.style.css.map */
